@model IEnumerable<VQ.Models.Queues>

@{
    string bgColor = "aquamarine";
    string cssClass = "alert-info";
    int ticketCount = 1;
}


@*<script>
    //function PlaySound(soundObj) {
    //    var sound = document.getElementById(soundObj);
    //    sound.Play();
    //}

    $("body").on('DOMSubtreeModified', "mydiv", function () {
        alert('aaaaa');
    });


    $('mydiv').bind("DOMSubtreeModified", function () {
        alert('changed');
            //PlaySound("bellwav");
    });


</script>*@



<table class="table">
    <tr style="font-size:48px">
        <td>
            
        </td>
        <td>
            Ticket&nbsp;Nr
        </td>
        <td>

        </td>
        <td align="center">
            Desk&nbsp;Nr
        </td>
    </tr>
    @foreach (var item in Model)
    {
        if (ticketCount == 1)
        {
            bgColor = "orange";
            cssClass = "alert-danger";
        }
        else
        {
            bgColor = "aquamarine";
            cssClass = "alert-info";
        }
        <tr class="@cssClass" style="font-size:60px;">
            <td>
                @if (ticketCount == 1)
                {
                    if (item.PlaySound == true)
                    {
                        <embed src="~/Content/bell.wav" autostart="false" width="0" height="0" id="bellwav" enablejavascript="true">
                    }

                    <i class="fa fa-hand-o-right" style="font-size:60px; font-weight:bold; color:red"></i>
                }
                else
                {
                    <i class="fa fa-gear" style="font-size:60px"></i>
                }
            </td>
            <td>
                <div id="mydiv">@Html.DisplayFor(modelItem => item.DeptCode)-@Html.DisplayFor(modelItem => item.TicketNumber)-@Html.DisplayFor(modelItem => item.CallCount)</div>
            </td>
            <td>
                <i class="fa fa-angle-double-right" style="font-size:60px"></i>
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.DeskName)
            </td>

        </tr>

        ticketCount += 1;
    }
</table>
