@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="jumbotron">
    <h1>Vistula Q</h1>
    <p class="lead">Lorem ipsum..</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Ticket</h2>
        <p>
            To use any vistula Services, you can get an e-Ticket here..
        </p>
        <p><a class="btn btn-primary btn-lg" href="~/GetTicket">Get e-Ticket &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Ticket Numbers</h2>
        <p>
            You can follow the currently running ticket numbers of each department here..
        </p>
        <p><a class="btn btn-primary btn-lg" href="~/Counters">Ticket Counters &raquo;</a></p>
    </div>
    <div class="col-md-4">
        &nbsp;
    </div>
</div>