@{
    ViewBag.Title = "Agent Page";
}

<div class="jumbotron">
    <h1>Vistula Q</h1>
    <p class="lead">Lorem ipsum..</p>
    <p><a href="~/Agents" class="btn btn-primary btn-lg">Agent Config &raquo;</a></p>

</div>


