@{
    ViewBag.Title = "Admin Page";
}

<div class="jumbotron">
    <h1>Vistula Q</h1>
    <p class="lead">Lorem ipsum..</p>
    <p><a href="~/Agents" class="btn btn-primary btn-lg">Agent Config &raquo;</a></p>
    <p><a href="~/AgentRoles" class="btn btn-primary btn-lg">Agent-Role Config &raquo;</a></p>
    <p><a href="~/Departments" class="btn btn-primary btn-lg">Department Config &raquo;</a></p>
    <p><a href="~/Desks" class="btn btn-primary btn-lg">Desk Config &raquo;</a></p>
    <p><a href="~/ServiceTypes" class="btn btn-primary btn-lg">Service Types Config &raquo;</a></p>
    <p><a href="~/ErrorMessages" class="btn btn-primary btn-lg">Error Message Config &raquo;</a></p>
    <p><a href="~/Customers" class="btn btn-primary btn-lg">Customer Config &raquo;</a></p>
    <p><a href="~/SysConfigs" class="btn btn-primary btn-lg">System Configs &raquo;</a></p>
</div>


